*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    margin: 40px;
    color: 
    font-family: 'Josefin Sans', sans-serif; 
	font-size: 14px;
	color: #ff8700;
}

img {
    max-width: 100%;
}

p {
	font-size: 1.2em;
}

.mightyarrow, .loyalarrow, .lovingarrow, .small { 
	visibility: hidden;
	}

.gray {
	color: #808080;
	}

.tagline {
	font-size: 1.5em;
	font-weight: 700;
	padding-left: 7vw;
	}

.header {
	position: fixed;
	top: 0;
	background: #fff;
	height: 35px;
	width: 46.5vw;
	padding: 10px 0; 
	vertical-align: top;
	z-index: 1;
	}

.headerleft {
	left: -2vw;
}

.headerright {
	right: -2vw;
}

.logo {
	position: fixed;
	top: 0px;
	left: 50%;
	height: 35px;
	z-index: 1;
	transform: translate(-50%, 0);
}

.logo:hover {
	background-color: #FF8700;
}

.navlink {
	padding: 0px;
	margin-right: 7vw; 
	float: right;
	vertical-align: top;
	font-size: 1.3em;
	font-weight: 700; 
	text-decoration: none;
	color: #808080;
	}

.navlink:hover { 
	padding: 3px;
	margin-right: 7vw; 
	float: right;
	color: #fff; 
	background: #FF8700;
	font-weight: 700;
	border-radius: 10px;
  	border: 1px solid #FF8700;
	}

span {
	color: #FF8700;
	font-weight: 600;
}

.small {
	font-size: .7em;
	font-weight: 400;
	padding-left: 1em;
}

.flex {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.hero {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
	}

.millie-gif {
	margin-top: 10px;
	background: url(../images/millie.gif);
	height: 50vw;
	width: 50vw;
	border-radius: 50%;
	background-size: cover;
}

.millie1 { 
	position: absolute;
	top: 15vw;
	left: 60vw;
	font-weight: 700;
	font-size: 1.4em;
}

.millie2 { 
	position: absolute;
	top: 20vw;
	left: 62vw;
	font-weight: 700;
	font-size: 1.4em;
}

.millie3 { 
	position: absolute;
	top: 25vw;
	left: 62vw;
	font-weight: 700;
	font-size: 1.4em;
}

.center {
	-webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.end {
	justify-content: flex-end;
}

.abouttitle {
	margin-top: .5em;
	font-size: 1.5em;
	font-weight: 700;
	color: #FF8700;
	text-align: center;
}

.aboutpara {
	font-size: .8em;
	margin: 0em 0em;
	line-height: 1.5em;
	color: #808080;
	padding: 15px 0vw;
}

.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.fa-th {
	margin: 5px 5px;
	font-weight: 400;
}

.btn {
	font-size: .9em;
	font-weight: 400; 
	color: #808080;
  	border: 1px solid #fff;
  	font-size: 1.3em;
  	margin: 0px;
  	padding: 0px;
}

.allpics {
	display: none;
}

h2 {
	margin: 10px 33.3%;
	font-weight: 700;
	font-size: 1.5em; 
	text-align: center;
}

.mightypic {
	background: url(../images/mighty1.jpg);
	background-size: cover;
	height: 30vw;
	width: 30vw;
	border-radius: 50%;
}
.mightypic2 {
	background: url(../images/mighty2.jpg);
	background-size: cover;
	height: 30vw;
	width: 30vw;
	border-radius: 50%;
}
.mightypic3 {
  	background: url(../images/mighty.gif);
	background-size: cover;
	height: 30vw;
	width: 30vw;
	border-radius: 50%;
}
.loyalpic {
	background: url(../images/loyal1.jpg);
	background-size: cover;
	height: 30vw;
	width: 30vw;
	border-radius: 50%;
}
.loyalpic2 {
  	background: url(../images/loyal2.jpg);
	background-size: cover;
	height: 30vw;
	width: 30vw;
	border-radius: 50%;
}
.loyalpic3 {
  	background: url(../images/loyal3.jpg);
	background-size: cover;
	height: 30vw;
	width: 30vw;
	border-radius: 50%;
}
.lovingpic {
	background: url(../images/loving1.jpg);
	background-size: cover;
	height: 30vw;
	width: 30vw;
	border-radius: 50%;
}
.lovingpic2 {
	background: url(../images/loving2.jpg);
	background-size: cover;
	height: 30vw;
	width: 30vw;
	border-radius: 50%;
}
.lovingpic3 {
	background: url(../images/loving3.jpg);
	background-size: cover;
	height: 30vw;
	width: 30vw;
	border-radius: 50%;
}

.fa-paw {
	float: right;
}

.height {
	height: 250px;
}

h4 {
	font-size: 1.2em;
	font-weight: 400;
	margin: 10px 10%;
	text-align: center;
}

@media only screen and (min-width:500px){
	body {
		font-size: 1.2em; 
	}
	.millie1, .millie2, .millie3 {
		font-size: 1.7em; 
		left: 65vw;
	}
	.millie2, .millie3 { 
		left: 67vw;
	}
	.height {
		height: 400px;
	}
	.header {
		vertical-align: top;
		height: 50px;
		width: 46.5vw;
	}
	.navlink {
		padding: 5px;
	}
	.logo {
		height: 50px;
		top: 0;
	}
	.millie-gif {
		margin-top: 30px;
	}
	.fa-th {
		margin-top: 8px;
	}

	.abouttitle {
	margin-top: .5em;
	font-size: 1.5em;
	font-weight: 700;
	color: #FF8700;
	text-align: center;
}

	.aboutpara {
	font-size: .8em;
	margin: 0px;
	line-height: 1.5em;
	color: #808080;
	padding: 10px 5vw;
	line-height: 1.5em;
	color: #808080;
}

@media only screen and (min-width:850px){
	body {
		font-size: 1.5em; 
	}
	.height {
		height: 500px;
	}
	.header {
		width: 47.5vw;
	}
	.small {
		visibility: visible;
	}
	#mightytext, #loyaltext, #lovingtext {
		width: 250px;
	}
	h4 {
		font-size: 1.1em;
		margin: 10px 5%;
	}
	.millie1, .millie2, .millie3 {
		font-size: 1.8em;
	}

	.aboutpara {
		font-size: .7em;
	}

	.abouttitle {
	margin-top: .9em;
	font-size: 1.5em;
	font-weight: 700;
	color: #FF8700;
	text-align: center;
}

	.aboutpara {
	font-size: .8em;
	margin-top: .7em;
	padding: 10px 10vw;
	line-height: 1.5em;
	color: #808080;
}

@media only screen and (min-width:1100px){
	.header {
		width: 48.5vw;
	}
	h2 {
		font-size: 2em; 
	}
	.millie1, .millie2, .millie3 {
		font-size: 2.2em;
	}
	#mightytext, #loyaltext, #lovingtext {
		width: 270px;
	}
	.lovingarrow, .mightyarrow, .loyalarrow {
		font-size: 2em;
	}
	.height {
		height: 550px;
	}

	.abouttitle {
	margin-top: .6em;
	font-size: 1.5em;
	font-weight: 700;
	color: #FF8700;
	text-align: center;
}

	.aboutpara {
	font-size: .8em;
	margin: 0px;
	padding: 10px 15vw;
	line-height: 1.5em;
	color: #808080;
}

@media only screen and (min-width:1300px){
	.header {
		width: 48.5vw;
	}
	h2 {
		font-size: 2em; 
	}
	.millie1, .millie2, .millie3 {
		font-size: 2.5em;
		left: 65vw;
	}
	.millie2, .millie3 {
		left: 66vw;
	}
	.height {
		height: 650px;
	}
	h4 {
		font-size: 1.3em;
	}
	#mightytext, #loyaltext, #lovingtext {
		width: 330px;
	}
	.fa-th {
		margin-top: 10px;
	}
	
	.abouttitle {
	margin-top: 1.1em;
	font-size: 1.5em;
	font-weight: 700;
	text-align: center;
	color: #FF8700;
	}

	.aboutpara {
	font-size: .8em;
	margin: 1em 0px;
	padding: 10px 16vw;
	line-height: 1.5em;
	color: #808080;
	align-content: center;
	}
}